{{ template "theme/partials/header.html" . }}
<body class="right-sidebar">

  <!-- Header Wrapper -->
  <div id="header-wrapper">

    <!-- Header -->
    <div id="header" class="container">

      <!-- Logo -->
      <h1 id="logo"><a href="#">{{ .Title }}</a></h1>
      <p>{{ index .Site.Params "SubTitle" }}</p>

      {{ template "theme/partials/nav.html" . }}

    </div>

  </div>
  <!-- Main Wrapper -->
  <div id="main-wrapper">
    <!-- Main -->
    <div id="main" class="container">
      <div class="row">
	<!-- Content -->
	<div id="content" class="8u skel-cell-important">
	  <!-- Post -->
	  <article class="is-post">
	    <header>
	      <h2>{{.Title}}</h2>
	    </header>
	    <ul id="list">
	      {{range .Data.Pages}}
	      <li>
		<a href="{{.Permalink}}">{{.Title}}</a>
	      </li>
	      {{end}}
	    </ul>
	  </article>
	</div>
      </div>
    </div>
  </div>
  <!-- Footer Wrapper -->
  <div id="footer-wrapper">
    {{ template "theme/partials/copyright.html" . }}
  </div>

</body>
</html>
